<html ng-app="imageTaggerApp">
<head>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>-->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
    <script src="@routes.Assets.at("javascripts/angular.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/app.js")"></script>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <title>
        Image Tagging Game
    </title>
</head>
<body>
<div data-ng-controller="DataController" style="text-align:center;">
    <h2>Image Tagging Game</h2>
    <h4>Guess a word that aptly describes a random interesting image and see if your friend can think of the same word.</h4>
    <h5>Start a game, invite your friends using the game id and have fun.</h5>
    <div style="margin-top:25px;">
        <div>
            <div><input type="text" style="margin-bottm:20px;" data-ng-model="gameid" placeholder="Enter game id here"/></div>
            <div><button class="btn btn-primary" type="button" data-ng-click="join();">Join a game</button></div>
        </div>
        <div>---------- OR -----------</div>
        <div>
            <div><button class="btn btn-primary" type="button" data-ng-click="start();">Start a new game</button></div>
        </div>
        <div style="margin-top:10px;">{{message}}</div>
        <img data-ng-src="{{imageurl}}" alt="Flickr image here">
        <div style="margin-top:10px;">{{lastmove}}</div>
        <div data-ng-show="showguessbox"><input type="text" style="margin-top:10px;width:700px;height:35px;margin-bottm:20px;" data-ng-model="guess"/></div>
        <div style="margin-top:10px;" data-ng-show="showguessbox"><button class="btn btn-primary" type="button" data-ng-click="submitguess();">Submit The Tag</button></div>
    </div>
</div>
</body>
</html>
